.cd_fight { margin-left:75px; background:none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/qiang2.png', sizingMethod='scale');}
#wrap { width:962px; border-left:1px solid #fff; border-right:1px solid #fff; margin:0 auto; padding-top:0px;}

#pageHeader { height:135px}
#topNavigation { padding-top:20px; }
#mainContent { margin-top:-10px;}
*+html #mainContent { margin-top:-10px;}
#mainContentCenter {width:565px; overflow:hidden; margin-left:-5px;}
#mainContentRight { margin-right:0px; padding-right:0px; width:190px; overflow:hidden; }
*+html #mainContentRight { margin-left:6px;}

*+html #mainContentPOV{margin-left:5px;}

*html #siteCategories{top:0px;}
*+html #siteCategories{top:5px;}

#siteCategories li h3{ border: 1px solid #FFFBF0; overflow:hidden; padding-left: 10px; font-size:14px; }
#siteCategories li div.bar { background:#fff; width:1px; height:30px; position:absolute; margin:-31px 0 0 145px; z-index:2002; display:none;}
#siteCategories li.hover { margin-bottom:-2px}
#siteCategories li.hover h3{ display:block; border: 1px solid #f80; background:#fff; }
#siteCategories li.hover h3 a{  text-decoration: underline; color:#f60;}
#siteCategories li.hover div.bar{ display: block; }
#siteCategories li.hover div.menu{ display: block; z-index:2001;}

#arrivals .proImg {width:100px; height:100px; background:#ccc; margin-left:10px; margin-bottom:5px;}
.cateProd .proImg {width:100px; height:100px; background:#ccc; margin-left:10px; margin-bottom:5px;}

.Promotion { width:120px; float:left; padding:0 10px; background:#FFFCF6; overflow:hidden;}

.cateProd { width:565px;}

#siteCategories h2 { font-size:12px}
#twoColLeft { margin-left:1px; height:auto; overflow:hidden; width:200px;}
*+html #twoColRight { margin-left:3px }
.production_TabBar { margin-left:5px; }

*+html #mainContentFlipthrough,#mainContentCate { margin-left:4px; width:553px; }


.twoColPage #siteCategories { margin-top:-10px; margin-bottom:-344px }
*+html #siteCategories { margin-top:-5px;}
#slcon{margin-left:-150px;}
#slcon .stlogo {border:none; margin:10px 0 0 10px; padding:5px; }
#slcon .current { border:1px solid #2270BE; border-right:1px solid #fff; background:#fff;}
#slcon .brands {width:190px; float:left; position:absolute; text-align:center; margin-left:-946px}
#slcon .con { float:left; border:1px solid #2270BE; width:755px; height:495px; margin-top:0px; background:#fff; margin-left:95px;}
*+html #slcon .con { float:left; border:1px solid #2270BE; width:755px; height:495px; margin-top:0px; background:#fff; margin-left:190px;}
#slcon .store { height:491px; width:190px; float:left; overflow:auto; }

.crumb { padding-top:0; margin-left:5px; }
.shlefcrumb { overflow:hidden; float:left; font:normal 12px; margin:18px 10px 0 212px; }
* html .shlefcrumb { margin:18px 10px 0 106px; }

.itemInfoWrap { float:left; margin-left:5px; width:751px; }
* html .shareIconList { width:auto; float:left; margin-left:12px; }
.itemMoveList ul{ list-style:none; float:left; padding: 0 5px 0 12px; width: 237px }
* html .shareIconList { float:left; margin-left:0px; width:270px; margin-left:10px}
* html .shareIconList ul{ list-style:none; width:270px;  }

* html .itemMoveList ul{ list-style:none; float:left; padding: 0px; width: 266px; height: 44px; overflow:hidden;}
* html .itemMoveList .leftArrow { background:url(/images/move_icon.gif) no-repeat scroll; width:7px; height:12px;  float:left; margin:15px 5px 0 5px }
*+html .itemMoveList ul{ list-style:none; float:left; padding: 0px; width: 266px; height: 44px; overflow:hidden;}
*+html .itemMoveList .leftArrow { background:url(/images/move_icon.gif) no-repeat scroll; width:7px; height:12px;  float:left; margin:15px 5px 0 10px }
* html .CartRecomRow { margin-left:3px; margin-right:3px;}
.CartRecomContent { padding-bottom:15px;}
* .CartButton { margin-bottom:10px;}
* html .searchPanel .panelM .keyInfoInput input{ margin-top:10px; }

.mainProduct { *margin-left:7px; _margin-left:5px; } 

* html #sfclose {position:absolute; margin:-10px 0 0 -56px; background:#fff; z-index:99999;}
*+html #sfclose {position:absolute; margin:-10px 0 0 -56px; background:#fff; z-index:99999;}


.RowList .RBtn { margin:10px 0 30px 0; padding-left:20px;}
.Row { height:310px; }
.RowGrid .Row { width:185px; border:1px solid #F0F0F1; float:left; border-right:0; border-bottom:0; overflow:hidden; }
.RowGrid .RBtnBuy,.RowGrid .RBtnMark { cursor:pointer;}
.RowList .RBtnBuy,.RowList .RBtnMark { cursor:pointer;}
.RowList .RPrice,.RowList .OPrice,.RowList .RComment { width:165px; }
.RowList .RPRow { float:right; margin:10px 20px 0 0; width:165px; }
* html .RowList .RPRow { float:right; margin:10px 5px 0 25px; width:165px; }
.RowList .GiftIcon { background:url("/images/nav_title.png") no-repeat -398px -93px; float:left; width:17px; height:18px; display:block; margin:70px 0 10px -380px;}
.RowList .RImg .RProIcon { width:40px; height:41px; float:left; margin-top:45px; margin-left:-28px; background:none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/qiang3.png', sizingMethod='scale');} 
.RowGrid .RImg .RProIcon { width:40px; height:41px; float:left; margin-top:45px; margin-left:-28px; background:none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/qiang3.png', sizingMethod='scale');} 

.rightFilterArea .propertyItem dl{padding:6px 0;}
.SRCatalog li a:hover span { background-image:url("/images/srclogbg.png"); filter: document.execCommand("BackgroundImageCache",false,true);}
* html .controlPanel, #productInfoList { margin-left:6px;}
*+html .controlPanel, #productInfoList { margin-left:7px;}
*+html .controlPanel { margin-top:10px; } 